.notification {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  animation: slidein 2s 1;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.3);
  max-width: 600px;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem; }

.fade-out {
  animation: fadeout 1s 1;
  animation-delay: 0s !important;
  animation-fill-mode: none; }

@keyframes slidein {
  0% {
    transform: translateX(110%); }
  100% {
    transform: translateX(0); } }

@keyframes fadeout {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden; } }

@keyframes slideout {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(110%);
    opacity: 0; } }

